$nti-small-phone-device:    xm;
$nti-phone-device:          sm;
$nti-mobile-device:         md;
$nti-desktop-device:        lg;
$nti-large-desktop-device:  xl;

$nti-main-width:            9 !default;
$nti-side-width:            3 !default;

$nti-tablet-main-width:     9 !default;
$nti-tablet-side-width:     3 !default;