@import "bootstrap/variables";

@import "bootstrap/mixins";
@import "bootstrap/buttons";
@import "bootstrap/forms";

$ail-small-phone-device:    xm;
$ail-phone-device:          sm;
$ail-mobile-device:         md;
$ail-desktop-device:        lg;
$ail-large-desktop-device:  xl;

.nti-container{
  @include make-container();
  @include make-container-max-widths();
}

.nti-row{
  @include make-row();
}

.nti-middle-table-cell{
  display: table-cell;
  vertical-align: middle;
}

.nti-navbar{
  position: relative;
  @include clearfix;
}

.nti-top{
  background-color: #333333;
  width: 100%;
}

.nti-inner{
  @extend .nti-container;

  height: 60px;
  display: table;
  position: relative;
}

.nti-logo{
  @extend .nti-middle-table-cell;
  min-width: 250px;
}

.nti-searchbar{
  @extend .nti-middle-table-cell;

  width: 100%;
  padding-right: 15px;
  position: relative;
}

.nti-input{
  @extend .form-control;
  padding: 5px 30px 5px 6px;
}

.nti-search-icon{
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #666666;
  position: absolute;
  right: 23px;
  top: 18px;

  &:hover{
    color: lighten(#666666, 27%);
  }
}

.nti-links{
  @extend .nti-middle-table-cell;
  white-space: nowrap;
}

.nti-link{
  color: #b1b1b1;
  margin-top: 0;
  text-shadow: 2px 2px 10px #363636;
  display: inline-block;
  text-decoration: none;
}

.nti-link-pill{
  @extend .btn;
  @extend .btn-secondary;
  @extend .nti-link;

  color: #333333;
}

.nti-bottom{
  background-color: #1b1b1b;
  width: 100%;

  .nti-inner{
    height: 40px;
  }
}